/* Fonts */

/* cuprum-regular */
@font-face {
    font-family: "Cuprum";
    font-style: normal;
    font-weight: 400;
    src: local("Cuprum Regular"), local("Cuprum-Regular"),
         url("../fonts/cuprum.woff2") format("woff2"), 
         url("../fonts/cuprum.woff") format("woff");   
}
  
/* cuprum-700 */
@font-face {
    font-family: "Cuprum";
    font-style: normal;
    font-weight: 700;
    src: local("Cuprum Bold"), local("Cuprum-Bold"),
         url("../fonts/cuprumbold.woff2") format("woff2"), 
         url("../fonts/cuprumbold.woff") format("woff");
}
  
/* cuprum-italic */
@font-face {
    font-family: "Cuprum";
    font-style: italic;
    font-weight: 400;
    src: local("Cuprum Italic"), local("Cuprum-Italic"),
         url("../fonts/cuprumitalic.woff2") format("woff2"), 
         url("../fonts/cuprumitalic.woff") format("woff");
}
  
/* cuprum-700italic */
@font-face {
    font-family: "Cuprum";
    font-style: italic;
    font-weight: 700;
    src: local("Cuprum Bold Italic"), local("Cuprum-BoldItalic"),
         url("../fonts/cuprumbolditalic.woff2") format("woff2"), 
         url("../fonts/cuprumbolditalic.woff") format("woff");
}

/* pt-sans-regular */
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 400;
    src: local("PT Sans"), local("PTSans-Regular"),
         url("../fonts/ptsans.woff2") format("woff2"), 
         url("../fonts/ptsans.woff") format("woff");
}
  
/* pt-sans-700 */
@font-face {
    font-family: "PT Sans";
    font-style: normal;
    font-weight: 700;
    src: local("PT Sans Bold"), local("PTSans-Bold"),
         url("../fonts/ptsansbold.woff2") format("woff2"), 
         url("../fonts/ptsansbold.woff") format("woff");
}
 
/*Variables*/

:root {

    /* Main page colors */
    --basic-white: #ffffff;
    --basic-black: #000000;
    --basic-red: #ee3643;
    --basic-green: #63a63e;

    --gray-header: #f3f7f9;
    --gray-popular: #f9f5f0;
    --gray-service-and-footer: #f1f5f7;
    --gray-last-price: #a9a9a9;
    --gray-border: #eaeaea;
    --red-credit-button: #ff5357;

    --basic-blue: #293449;
    --blue-dark: #212a3a;
    --blue-light: #32425c; 
    --blue-icon: #3d546f;
    --modal-gray: #f1f1f1;

    /* Conditions colors */
    --green-hover: #5fbb2d;
    --green-active: #518534;
    --red-hover: #ca2c37;
    --red-active: #ba2732;
    --blue-active: #161d29;
    --blue-active-dark: #1d271d; 
    --gray-hover: rgba(0, 0, 0, 0.03);
    --gray-active: rgba(0, 0, 0, 0.1);
    --yellow-active: #ffd180;

    /* Promo section additional colors */
    --special-blue: #3bbce3;
    --special-deep-yellow: #ffbf47;
    --special-yellow: #ffc047;
    --special-green: #8ed78f;
    --special-pink: #dc91d8;

    /* Colors with opacity */
    --black-opacity: rgba(0, 0, 0, 0.25);
    --white-opacity: rgba(255, 255, 255, 0.3);
    --white-opacity-half: rgba(255, 255, 255, 0.5);
    --red-shadow: rgba(238,54,67,0.24);
    --filter-check-opacity: rgba(181, 181, 181, 0.3);
    
    /* Footer additional colors */
    --contacts-yellow: #ffda96;

    /* Catalog additional colors */
    --green-dark: #367315;
    --filter-background: #f7f3ec;
    --gray-catalog: #f2f6f8;
    --gray-filter-buttons: #c5c5c5;
    --gray-breadcrumbs-home: #c1c6cE;
    --black-opacity-catalog: rgba(0, 0, 0, 0.3);
    --filter-scale: #d7dcde;
    --filter-scale-full: #00ca74;
    --toggle: #ababab;
    --toggle-shadow: rgba(171, 171, 171, 0.3);
    --filter-buttons-hover: rgb(181, 181, 181);
}

/* Global */

body {
    min-width: 960px;
    width: 100%;
    margin: 0;
    padding: 0;
    font-family: "Cuprum", Arial, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    font-style: normal;
    color: var(--basic-black);
    background-color: var(--basic-white);
}

.page {
    height: 100%;
}

.top-wrapper {
    width: 100%;
}

a {
    text-decoration: none;
}
  
img {
    max-width: 100%;
    height: auto;
}

.fix-wrapper {
    width: 940px;
}

.flex-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.new-item {
    min-width: 100px;
    position: absolute;
    top: 7px;
    right: -27px;
    transform: rotate(45deg);
    display: block;
    background-color: var(--basic-red);
    color: var(--basic-white);
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    box-sizing: border-box;
    padding: 7px 3px;
}

.basic-button {
    min-width: 192px;
    display: block;
    background-color: var(--basic-red);
    color: var(--basic-white);
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
    text-align: center;
    box-sizing: border-box;
    padding: 10px 5px;
}

.basic-state:hover {
    background-color: var(--red-hover);
}

.basic-state:focus {
    background-color: var(--red-hover);
}

.basic-state:active {
    background-color: var(--red-active);
}

.flex-centered {
    display: flex;
    align-items: center;
    justify-content: center;
}

.popular-header {
    padding: 25px 14px 26px 28px;
    background-color: var(--gray-popular);
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin: 0 0 20px 0;
}

.section-title {
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    text-transform: uppercase;
    color: var(--blue-light);
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    border: 0;
    clip: rect(0 0 0 0)
}

.display-none {
    display: none;
}

/* Animation */

@-webkit-keyframes bounce {
    0% {
      transform: translate(-50%, -2000px);
    }
  
    50% {
      transform: translate(-50%, 30%);
    }
  
    70% {
      transform: translate(-50%, -10%);
    }
  
    100% {
      transform: translate(-50%, -50%);
    }
  }

@keyframes bounce {
    0% {
      transform: translate(-50%, -2000px);
    }
  
    50% {
      transform: translate(-50%, 30%);
    }
  
    70% {
      transform: translate(-50%, -10%);
    }
  
    100% {
      transform: translate(-50%, -50%);
    }
  }

  @-webkit-keyframes shake {
    0%,
    100% {
      transform: translate(-50%, -50%);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translate(-60%, -50%);
    }
  
    20%,
    40%,
    60%,
    80% {
      transform: translate(-40%, -50%);
    }
  }

  @keyframes shake {
    0%,
    100% {
      transform: translate(-50%, -50%);
    }
  
    10%,
    30%,
    50%,
    70%,
    90% {
      transform: translate(-60%, -50%);
    }
  
    20%,
    40%,
    60%,
    80% {
      transform: translate(-40%, -50%);
    }
  }

/* Header */

.main-header {
    width: 100%;
    background-color: var(--gray-header);
    color: var(--basic-white);
    padding-bottom: 60px;
}

.header-wrapper {
    width: 100%;
    background-color: var(--basic-blue);
    display: flex;
    justify-content: center;
}

.main-logo-container {
    width: 220px;
    background-color: var(--basic-red);
    position: relative;
}

.main-logo-container:hover {
    background-color: var(--basic-red);
}

.main-logo-container:focus {
    background-color: var(--basic-red);
}

.main-logo-container:active {
    background-color: var(--red-active);
}

.main-logo-container::after {
    content: "";
    width: 220px;
    height: 5px;
    background: var(--basic-red);
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
    position: absolute;
    top: 41px;
    left: 0;
}

.main-logo-container::after:active {
    background-color: var(--red-active);
    box-shadow: inset 0 -5px 0 rgba(0, 0, 0, 0.24);
}

.header-top-bar {
    width: 940px;
    background-color: var(--basic-blue);
    min-height: 42px;
    display: flex;
}

.flex-1 {
    flex-grow: 1;
}

.flex-column {
    flex-direction: column;
}

.search-input {
    width: 100%;
    height: 100%;
    background-color: var(--basic-blue);
    color: var(--basic-white);
    font-size: 18px;
    line-height: 24px;
    border: none;
    padding: 0 0 0 42px;
    outline: none;
}

.search-input:focus {
    background-color: var(--basic-white);
    color: var(--basic-black);
}

.input-position {
    position: relative;
}

.input-position:focus-within {
    background-color: var(--basic-white);
}

.input-position::before {
    content: "";
    width: 17px;
    height: 17px;
    background-image: url("../img/icon-search.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    opacity: 30%;
    top: 12px;
    left: 19px;
    z-index: 2;
}


.search-input::-webkit-input-placeholder {
    color: var(--basic-white);
}

.search-input::-moz-placeholder {
    color: var(--basic-white);
}

.search-input::placeholder {
    color: var(--basic-white);
}

.input-position:hover::before {
    opacity: 1;
}

.input-position:focus-within::before {
    background-image: url("../img/icon-search-focus.svg");
    opacity: 1;
}

.search-input:active::-webkit-input-placeholder {
    opacity: 50%;
}

.search-input:active::-moz-placeholder {
    opacity: 50%;
}

.search-input:active::placeholder {
    opacity: 50%;
}

.input-position:active::before {
    opacity: 30%;
}

.bookmarks-cart.inner-page-bookmarks {
    padding: 9px 38px 9px 30px;
}

.bookmarks-cart.inner-page-cart {
    min-width: unset;
    background-color: var(--basic-red);
    padding: 9px 22px 9px 35px;
}

.order-button {
    min-width: 150px;
    background-color: var(--basic-green);
    color: var(--basic-white);
    border: none;
    box-sizing: border-box;
    padding: 9px 16px 9px 19px;
}

.order-button:hover {
    background-color: var(--green-hover);
}

.order-button:focus {
    background-color: var(--green-hover);
}

.order-button:active {
    background-color: var(--basic-green);
    color: var(--white-opacity-half);
}

.bookmarks-cart {
    min-width: 150px;
    box-sizing: border-box;
    padding: 9px 24px 9px 43px;
    color: var(--basic-white);
    position: relative;
}

.bookmarks-cart:hover {
    color: var(--basic-white);
}

.bookmarks-cart:focus {
    color: var(--basic-white);
}

.bookmarks-cart:active {
    background-color: var(--blue-active);
    color: var(--white-opacity-half);
}

.bookmarks::before {
    content: "";
    width: 14px;
    height: 15px;
    background-image: url("../img/icon-bookmark.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    top: 13px;
    left: 19px;
    opacity: 30%;
}

.bookmarks.inner-page-bookmarks::before {
    left: 8px;
}

.cart::before {
    content: "";
    width: 15px;
    height: 15px;
    background-image: url("../img/icon-cart.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    top: 13px;
    left: 25px;
    opacity: 30%;
}

.cart.inner-page-cart::before {
    left: 12px;
}

.bookmarks:hover::before {
    opacity: 1;
}

.bookmarks:focus::before {
    opacity: 1;
}

.bookmarks:active::before {
    opacity: 30%;
}

.cart:hover::before {
    opacity: 1;
}

.cart:focus::before {
    opacity: 1;
}

.cart:active::before {
    opacity: 30%;
}

.main-header-info {
    margin: 0;
    padding: 47px 0 40px 0;
    width: 100%;
    min-width: 940px;
    display: flex;
    justify-content: center;
}

.main-header-wrapper {
    width: 940px;
    display: flex; 
    flex-wrap: wrap;
}

.main-header-description {
    color: var(--basic-red);
    font-style: italic;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    margin: -4px 0 0 0;
    padding: 0 0 0 30px;
}

.phone-wrapper {
    margin-right: -30px;
}

.phone-wrapper-inner {
    margin-right: -43px;
}

.header-phone {
    color: var(--basic-red);
    font-weight: 700;
    font-size: 21px;
    line-height: 30px;
    text-transform: uppercase;
    text-align: left;
    box-sizing: border-box;
    border: solid 3px var(--basic-white);
    padding: 3px 46px 4px 69px;
    position: relative;
}
    
.header-phone::before {
    content: "";
    width: 18px;
    height: 19px;
    background-image: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    top: 9px;
    left: 36px;
}

.header-adress {
    margin: 4px 3px 0 0;
    padding: 0;
    color: var(--blue-light);
    font-size: 14px;
    text-align: center; 
}

.header-button {
    background-color: var(--basic-white);
    color: var(--basic-black);
    font-size: 21px;
    line-height: 21px;
    border: none;
}

.header-button:hover {
    color: var(--basic-red);
}

.header-button:focus {
    color: var(--basic-red);
}

.header-button:active {
    color: var(--gray-filter-buttons);
}

.header-user-block {
    display: flex;
    align-items: center;
}

.user-button-container {
    min-width: 299px;
    box-sizing: border-box;
    padding: 10px 5px 12px 10px;
    text-align: right;
    background-color: var(--basic-white);
    color: var(--basic-black);
    line-height: 21px;
    border: none;
    margin-bottom: 7px;
}

.icon-user {
    padding-right: 14px;
    color: var(--gray-filter-buttons);
}

.icon-user-pic {
    fill: currentColor;
}

.icon-user:hover {
    color: var(--blue-icon);
}

.icon-user-pic:hover {
    fill: currentColor;
}

.icon-user:focus {
    color: var(--blue-icon);
}

.icon-user-pic:focus {
    fill: currentColor;
}

.icon-user:active {
    color: var(--gray-filter-buttons);
}

.icon-user-pic:active {
    fill: currentColor;
}

.login-button {
    padding: 12px 27px 12px 45px;
    position: relative;
}

.login-button::before {
    content: "";
    width: 20px;
    height: 17px;
    background-image: url("../img/icon-login.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    top: 14px;
    left: 19px;
}

.login-button:hover::before {
    background-image: url("../img/icon-login-hover.svg");
}

.login-button:focus::before {
    background-image: url("../img/icon-login-hover.svg");
}

.login-button:active::before {
    background-image: url("../img/icon-login-active.svg");
}

.register-button {
    padding: 12px 24px; 
}

.login-container {
    min-width: 281px; 
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    flex-wrap: wrap;
}

.logout-button {
    margin: 0 14px;
    border: none;
    background: inherit;
    padding: 0;
    color: var(--gray-filter-buttons);
    cursor: pointer;
}

.logout-icon {
    margin-top: 3px;
}

.logout-button:hover {
    color: var(--blue-icon);
}

.logout-button:focus {
    color: var(--blue-icon);
}

.logout-icon:hover {
    fill: currentColor;
}

.logout-icon:focus {
    fill: currentColor;
}

.logout-button:active {
    color: var(--gray-filter-buttons);
}

.logout-icon:active {
    fill: currentColor;
}

.user-button:hover {
    fill: var(--blue-icon);
}

.user-button:focus {
    fill: var(--blue-icon);
}

.user-button:active {
    color: var(--gray-filter-buttons);
}

.user-info-link {
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: var(--blue-light);
}

.user-info-link:hover {
    color: var(--basic-red);
}

.user-info-link:focus {
    color: var(--basic-red);
}

.user-info-link:active {
    color: var(--gray-filter-buttons);
}

.personal-links {
    position: relative;
    min-width: 210px;
    display: flex;
    justify-content: space-between;
}

.personal-links::after {
    position: absolute;
    content: "";
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background: var(--blue-light);
    top: 6px;
    left: 88px;
}

.main-navigation {
    width: 940px;
    background-color: var(--blue-light);
    box-shadow: inset 0 -5px 0 var(--basic-blue);
    
}

.main-navigation ul {
    list-style: none;
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0;
    padding: 0 28px 0 28px;
}

.main-navigation a {
    color: var(--basic-white);
    padding: 16px 24px 19px 24px;
    display: block;
}

.main-navigation a:hover {
    background-color: var(--basic-blue);
}

.main-navigation a:focus {
    background-color: var(--basic-blue);
}

.main-navigation a:active {
    background-color: var(--blue-active-dark);
    color: var(--blue-light);
}

/* Promo section */

.promo-section {
    width: 940px;
    margin: 0 auto;
    padding: 59px 0 0 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    -moz-column-gap: 20px;
         column-gap: 20px;
    row-gap: 18px;
}

.promo-section-products {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    -moz-column-gap: 20px;
         column-gap: 20px;
    grid-column: 1/4;
}

.promo-section-stock {
    list-style: none;
    margin: 0;
    padding: 0;
    grid-column: 3/3;
    grid-row: 2/4;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    row-gap: 20px;
}

.promo-card {
    color: var(--basic-white);
    display: flex;
    flex-direction: column;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
}

.deep-yellow-card {
    background-color: var(--special-deep-yellow);
    position: relative;
}

.deep-yellow-card::after {
    content: "";
    width: 44px;
    height: 65px;
    background-image: url("../img/promo-icon-materials.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    top: 31px;
    right: 43px;
}

.blue-card {
    background-color: var(--special-blue);
    position: relative;
}

.blue-card::after {
    content: "";
    width: 75px;
    height: 61px;
    background-image: url("../img/promo-icon-tools.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    top: 34px;
    right: 31px;
}

.pink-card {
    background-color: var(--special-pink);
    position: relative;
}

.pink-card::after {
    content: "";
    width: 78px;
    height: 62px;
    background-image: url("../img/promo-icon-tech.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    top: 31px;
    right: 31px;
}

.green-card {
    background-color: var(--special-green);
    position: relative;
}

.green-card .promo-item-name {
    padding-bottom: 10px;
}

.green-card::after {
    content: "";
    width: 59px;
    height: 72px;
    background-image: url("../img/promo-icon-discounts.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    top: 26px;
    right: 45px;
}

.yellow-card {
    background-color: var(--special-yellow);
    position: relative;
}

.yellow-card .promo-item-name {
    padding-bottom: 11px;
}

.yellow-card::after {
    content: "";
    width: 78px;
    height: 63px;
    background-image: url("../img/promo-icon-delivery.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    top: 32px;
    right: 31px;
}

.promo-item-name {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: left;
    padding: 21px 0 14px 23px;
}

.promo-item-button {
    width: 135px;
    font-size: 14px;
    line-height: 18px;
    color: var(--basic-white);
    text-transform: uppercase;
    text-align: center;
    background-color: var(--white-opacity);
    box-sizing: border-box;
    padding: 10px 5px;
    margin: 0 0 21px 23px;
    border: solid 1px transparent;
}

.promo-item-button:hover {
    border: solid 1px var(--basic-black);
    background-color: var(--gray-hover);
}

.promo-item-button:focus {
    border: solid 1px var(--basic-black);
    background-color: var(--gray-hover);
}

.promo-item-button:active {
    border: solid 1px var(--basic-black);
    background-color: var(--gray-active);
}

.promo-slider-wrapper {
    grid-column: 1/3;
    grid-row: 2/4;
    position: relative;
    background-color: var(--basic-black); 
    color: var(--basic-white);
    box-sizing: border-box;
    
}

.promo-slider {
    height: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
}

.perforator {
    width: 100%;
    height: 100%;
    background-image: url("../img/promo-slide-perf.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}

.drill {
    width: 100%;
    height: 100%;
    background-image: url("../img/promo-slide-drill.jpg");
    background-repeat: no-repeat;
    background-position: 0 0;
    background-size: cover;
}

.promo-slide-header {
    background-color: var(--black-opacity);
    text-align: left;
    padding: 23px 0 16px 24px;
}

.promo-slide-title {
      font-weight: 700;
      font-size: 36px;
      line-height: 36px;
      text-transform: uppercase;
      margin: 0 0 5px 0;
}

.buttons-position-wrapper {
    position: relative;
}

.last-arrow {
    position: absolute;
    top: 121px;
    left: 17px;
    background: none;
    border: none;
    cursor: pointer;
}

.next-arrow {
    position: absolute;
    top: 116px;
    right: 13px;
    background: none;
    border: none;
    cursor: pointer;
    transform: rotate(180deg);
}

.slider-bullets {
    display: flex;
    justify-items: space-between;
    flex-wrap: wrap;
    position: absolute;
    bottom: 37px;
    left: 295px;
}

.slider-bullet {
    background: none;
    border: none;
    cursor: pointer;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--basic-white);
    padding: 0;
    margin-right: 10px;
    outline: none;
}

.slider-bullet:focus {
    outline: none;
}

.slider-bullet:hover {
    outline: none;
}

.slider-bullet:active {
    outline: none;
}

.slider-bullet-selected {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: var(--basic-red);
    border: 2px solid var(--basic-white);
}

.promo-slide-button {
    position: absolute;
    left: 24px;
    bottom: 27px;
}

/* Popular items */

.popular-items-section {
    margin: 53px 0 70px 0;
    width: 940px;
}

.popular-items-title {
    max-width: 278px;
    padding-top: 5px;
}

.popular-items-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}

.popular-item {
    min-height: 315px;
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 700;
    text-align: center;
    border: solid 1px var(--gray-border);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

.popular-item-name {
    line-height: 20px;
    margin: 0;
}

.item-pic-container {
    height: 160px;
    -o-object-fit: contain;
       object-fit: contain;
    box-sizing: border-box;
    padding: 11px 9px 0 0;
}

.popular-item-pic {
    background-color: var(--gray-popular);
}

.item-buttons-container {
    height: 160px;
    visibility: hidden;
    position: absolute;
    top: 0;
}

.product-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    padding-top: 18px;
    padding-bottom: 23px;
}

.last-price {
    color: var(--gray-last-price);
    font-size: 17px;
    line-height: 18px;
    text-transform: uppercase;
    text-decoration: line-through;
    margin-bottom: 5px;
}

.hot-price {
    min-width: 141px;
    display: block;
    background-color: var(--basic-red);
    color: var(--basic-white);
    text-transform: uppercase;
    text-align: center;
    font-size: 17px;
    line-height: 18px;
    box-sizing: border-box;
    padding: 8px 9px 11px 3px;
    background-image:
    linear-gradient(225deg, white 10%, transparent 10%),
    linear-gradient(315deg, white 10%, transparent 10%);
    border-radius: 4px 0 0 4px;
    margin-left: 11px;
}

.popular-item:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.popular-item:focus-within {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.popular-item:hover .item-pic-container,
.popular-item:focus-within .item-pic-container {
    visibility: hidden;
}

.popular-item:hover .item-buttons-container, 
.popular-item:focus-within .item-buttons-container {
    visibility: visible;
}

/* Modals */


.modal-centered {
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 4;
    transform: translate(-50%, -50%);
    -webkit-animation: bounce 0.6s;
            animation: bounce 0.6s;
}

.modal {
    width: 620px;
    background-color: var(--basic-white);
    display: flex;
    flex-direction: column;
    position: relative;
    box-sizing: border-box;
    border-top: solid 7px var(--basic-red);
    box-shadow: 0 4px 20px 0 rgba(0,0,0,0.15); 
}


.modal-purchase {
    min-height: 282px;
    background-color: var(--basic-white);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    border-top: solid 7px var(--basic-red);
}

.modal-close {
    background: none;
    border: none;
    padding: 0;
    position: absolute;
    top: 11px;
    right: 11px;
    cursor: pointer;
    z-index: 2;
}

.purchase-success-text {
    font-weight: 700;
    font-size: 24px;
    line-height: 30px;
    text-align: center;
    padding: 66px 0 67px 0;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.purchase-success-text::before {
    position: absolute;
    content: "";
    width: 66px;
    height: 66px;
    border-radius: 50%;
    background: var(--basic-green);
    top: 48px;
    left: 81px;
}

.purchase-success-text::after {
    content: "";
    width: 40px;
    height: 30px;
    background-image: url("../img/icon-check.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    top: 69px;
    left: 95px;
}

.modal-purchase-buttons {
    width: 100%;
    padding: 37px 0;
    background-color: var(--modal-gray);
    display: flex;
    justify-content: center;
}

.back-to-catalog {
    background-color: var(--basic-white);
    color: var(--basic-black);
    border: none;
}

.modal-purchase-buttons button {
    border: none;
    outline: none;
}

.modal-button {
    margin-right: 10px;
}

.back-to-catalog:hover {
    color: var(--basic-red);
}

.back-to-catalog:focus {
    color: var(--basic-red);
}

.back-to-catalog:active {
    box-shadow: 0px 2px 20px rgba(0, 0, 0, 0.15);
}

.feedback-modal {
    width: 460px;
    display: flex;
    flex-direction: column;  
}

.feedback-form {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.feedback-input::-webkit-input-placeholder {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: var(--gray-filter-buttons);
}

.feedback-input::-moz-placeholder {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: var(--gray-filter-buttons);
}

.feedback-input::placeholder {
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    color: var(--gray-filter-buttons);
}

.contacts-modal-wrapper {
    display: flex;
    justify-content: space-between;
    margin-top: 39px;
}

.feedback-input {
    width: 220px;
    margin: 11px 0 13px 0;
    -moz-appearance: none;
    outline: none;
    border: 2px solid var(--gray-filter-buttons);
    border-radius: 2px;
    box-sizing: border-box;
    padding: 10px 5px;
}

.feedback-input:first-of-type {
    margin-right: 20px;
}

.feedback-input-field {
    width: 460px;
    min-height: 112px;
    -moz-appearance: none;
    outline: none;
    resize: none;
    border: 2px solid var(--gray-filter-buttons);
    border-radius: 2px;
    padding: 10px 5px;
    box-sizing: border-box;
    margin: 11px 0 37px 0;
}

.input-wrapper {
    margin: 0;
}

.feedback-label {
    display: block;
}

.modal-centered.modal-error {
    -webkit-animation: shake 0.6s;
            animation: shake 0.6s;
}

.modal-map {
    width: 943px;
    min-height: 449px;
    position: relative;
    background-color: var(--modal-gray);
    background-image: url("../img/map-full.jpg");
    box-sizing: border-box;
    border-top: solid 7px var(--basic-red);
    box-shadow: 0 4px 20px 0 rgba(0,0,0,0.15); 
}

.map-full {
    height: 100%;
    position: absolute;
    border: 0;
}


/* Popular brands */

.popular-brands-section {
    width: 940px;
}

.popular-brands-title {
    max-width: 387px;
    margin-top: 5px;
}

.all-brands-button {
    margin-right: 5px;
}

.popular-brands-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 20px;
}

.popular-brands-item {
    width: 100%;
    min-height: 145px;
    box-sizing: border-box;
    border: solid 1px var(--gray-border);
    display: flex;
    flex-direction: column;
    align-items: center;
    -o-object-fit: contain;
       object-fit: contain;
}

.brand-item-link {
    width: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: center;
}

.popular-brands-item:hover {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.popular-brands-item:focus-within {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
}

.popular-brands-item:active {
    box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);
    opacity: 30%;
}

.brand-item-pic {
    background-color: var(--gray-popular);
}

.popular-brands-item:nth-child(2) .brand-item-link {
    margin-top: -10px;
}

/* Service section */

.service-section {
    width: 100%;
    min-width: 940px;
    background-color: var(--gray-service-and-footer);
    margin: 70px 0;
}

.service-description {
    margin: 0;
    padding: 64px 0 21px 0;
}

.service-title {
    color: var(--basic-black);
    margin-bottom: 25px;
}

.service-slider {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 10px;
}

.service-buttons-list {
    list-style: none;
    margin: 0 0 54px 0;
    padding: 49px 0;
    position: relative;
}

.service-items-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.service-items-list::before {
    content: "";
    width: 10px;
    height: 279px;
    background-image: url("../img/service-shadow.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    top: 0;
    left: -90px;
}

.service-item {
    display: none;
    padding: 49px 0 0 0;
}

.selected-service-item {
    display: block;
}

.service-delivery::after {
    content: "";
    width: 486px;
    height: 261px;
    background-image: url("../img/service-delivery-pic.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    top: 68px;
    right: -18px;
}

.service-guarantee::after {
    content: "";
    width: 389px;
    height: 283px;
    background-image: url("../img/service-guarantee-pic.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    top: 46px;
    right: -10px;
}

.section-description.slide-guarantee {
    margin-top: -8px;
    padding-right: 40%;
    line-height: 25px;
}

.service-credit::after {
    content: "";
    width: 465px;
    height: 285px;
    background-image: url("../img/service-credit-pic.png");
    background-repeat: no-repeat;
    background-position: 0 0;
    position: absolute;
    top: 45px;
    right: -10px;
}

.service-button {
    min-width: 240px;
    background-color: var(--blue-light);
    font-weight: 700;
    font-size: 21px;
    line-height: 30px;
    color: var(--basic-white);
    border: none;
    margin: 0;
    box-sizing: border-box;
    padding: 14px 0 17px 22px;
    cursor: pointer;
    text-align: left;
}

.credit-button {
    background-color: var(--red-credit-button);
    border-radius: 2px;
    margin-top: 26px;
    width: 195px;
    box-sizing: border-box;
    padding: 9px 5px 10px 5px;
}

.selected-service-button {
    background-color: var(--basic-white);
    color: var(--blue-light);
}

.service-button:hover {
    background-color: var(--basic-blue);
    color: var(--basic-white);
    outline: none;
}

.service-button:focus {
    background-color: var(--basic-white);
    color: var(--blue-light);
    outline: none;
}

.service-button:active {
    background-color: var(--basic-white);
    color: var(--blue-light);
    outline: none;
}

.service-item-name {
    color: var(--blue-light)
}

.section-description {
    font-family:"PT Sans", Arial, sans-serif;
    font-weight: 400;
    font-size: 13px;
    line-height: 24px;
    margin: 0;
}

.servise-slide {
    position: relative;
    z-index: 2;
    padding-top: 26px;
    padding-right: 50%;
}

/* Delivery section */

.bottom-wrapper {
    width: 940px;
    margin-bottom: 70px;
    display: grid;
    grid-template-columns: 3fr 1fr 2fr;
}

.delivery-section {
    grid-column: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.delivery-section .section-description {
    margin: 10px 0;
}

.delivery-section .section-description:first-of-type {
    margin: 0 0 10px 0;
}

.contacts-section {
    grid-column: 3/3;
    margin-left: 13px;
}

.delivery-title {
    margin-bottom: 18px;
    color: var(--basic-black);
}

.contacts-section .delivery-title {
    margin-bottom: 21px;
}

.contacts-section .section-description {
    margin-bottom: 33px;
}

.delivery-partner-list {
    list-style: none;
    margin: 0;
    margin-left: 37px;
    margin-top: -15px;
    padding: 0;
}

.delivery-partner-item {
    margin-bottom: 12px;
    position: relative;
}

.delivery-partner-item::before {
    position: absolute;
    content: "";
    width: 25px;
    height: 2px;
    background: var(--basic-red);
    top: 50%;
    left: -37px;
}

.delivery-partner-item a {
    color: var(--basic-black);
}

.delivery-partner-button {
    width: 220px;
}


.map-pic {
    margin-bottom: 19px;
    background-color: var(--gray-popular);
    width: 100%;
    height: 158px;
}

/* Inner page */

.breadcrumbs {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    margin: 19px 0 19px 2px;
    padding: 0;
}

.breadcrumbs-page {
    margin-left: 40px;
    position: relative;
}

.breadcrumbs-page::before {
        content: "";
        width: 8px;
        height: 14px;
        background-image: url("../img/icon-right-small.svg");
        background-repeat: no-repeat;
        background-position: 0 0;
        position: absolute;
        top: 2px;
        left: -20px;
}

.breadcrumbs-action:hover {
    color: var(--basic-red);
}

.breadcrumbs-action:focus {
    color: var(--basic-red);
}

.breadcrumbs-action:active {
    color: var(--gray-breadcrumbs-home);
}

.breadcrumbs-home {
    color: var(--gray-breadcrumbs-home);
}

.breadcrumbs-icon {
    fill: currentColor;
}

.breadcrumbs-home:hover {
    color: var(--basic-red);
}

.breadcrumbs-home:focus {
    color: var(--basic-red);
}

.breadcrumbs-icon:hover {
    fill: currentColor;
}

.breadcrumbs-icon:focus {
    fill: currentColor;
}

.breadcrumbs-home:active {
    color: var(--gray-breadcrumbs-home);
}

.breadcrumbs-icon:active {
    fill: currentColor;
}

.catalog-link {
    width: 100%;
    font-family: "PT Sans", Arial, sans-serif;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 13px;
    line-height: 18px;
    color: var(--basic-black);
    text-decoration: none;
}

.breadcrumbs-home {
    fill: var(--gray-breadcrumbs-home);
}

.inner-popular-header {
    width: 940px;
    min-height: 89px;
    background-color: var(--gray-catalog);
    margin: 20px 0 20px 0;
}

.inner-page-title {
    padding: 29px 0 30px 29px;
}

.inner-page-wrapper {
    width: 940px;
    margin: 0 auto;
}

.catalog-wrapper {
    display: grid;
    grid-template-columns: 220px 700px;
    gap: 20px;
}

.filters {
    grid-column: 1/1;
}


.filters-title {
    margin: 0;
    box-sizing: border-box;
    padding: 10px 0 20px 20px;
    background-color: var(--filter-background);  
}

.filter-form {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 19px;
    text-transform: uppercase;
    color: var(--basic-black);
}

.filter-form fieldset {
    margin: 0;
    margin-bottom: 20px;
    padding: 0 0 25px 0;
    border: none;
}

.filter-form fieldset:not(:last-of-type) {
border-bottom: solid 1px var(--gray-active);
}

.legend-heading {
    font-family: "PT Sans", Arial, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 30px;
    text-transform: uppercase;
    color: var(--basic-black);
    padding: 0;
    margin: 20px 0 10px 0;
}

.filter-list {
    list-style: none;
    padding: 0;
    padding-top: 10px;
    margin: 0 0 0 40px;
}

.supply-filter {
    padding-top: 14px;
}

.filter-option:not(:last-child) {
    margin: 0 0 20px 0;
}

.filter-option label {
    position: relative;
    display: block;
    cursor: pointer;
    -webkit-user-select: none;
       -moz-user-select: none;
            user-select: none;
}

.filter-input-checkbox + label::before {
    content: "";
    position: absolute;
    left: -42px;
    top: 0;
    width: 19px;
    height: 19px;
    border: 2px solid var(--gray-filter-buttons);
    border-radius: 2px;
}  

.filter-input-checkbox:hover + label::before {
    border: 2px solid var(--filter-buttons-hover);
}  

.filter-input-checkbox:focus + label::before {
    border: 2px solid var(--filter-buttons-hover);
}  

.filter-input-checkbox:checked + label::after {
    content: "";
    position: absolute;
    top: 2px;
    left: -39px;
    width: 21px;
    height: 18px;
    background-image: url("../img/icon-check-filter.svg");
    background-repeat: no-repeat;
    background-position: 0 0;
}

.filter-input-checkbox:checked:hover + label::after {
    background-image: url("../img/check-filter-hover.svg");
}

.filter-input-checkbox:checked:focus + label::after {
    background-image: url("../img/check-filter-hover.svg");
}

.filter-input-checkbox:disabled + label::before {
    border: 2px solid var(--filter-check-opacity);
}  

.filter-input-checkbox:checked:disabled + label::after {
    opacity: 30%;
}

.filter-input-radio + label::before {
    content: "";
    position: absolute;
    left: -42px;
    top: -3px;
    width: 17px;
    height: 17px;
    border: 4px solid var(--gray-filter-buttons);
    border-radius: 50%;
}

.filter-input-radio:hover + label::before {
    border: 4px solid var(--filter-buttons-hover);
}

.filter-input-radio:focus + label::before {
    border: 4px solid var(--filter-buttons-hover);
}

.filter-input-radio:checked + label::after {
    content: "";
    position: absolute;
    top: 5px;
    left: -34px;
    width: 9px;
    height: 9px;
    background-color: var(--gray-filter-buttons);
    border-radius: 50%;
}

.filter-input-radio:checked:hover + label::after {
    background-color: var(--filter-buttons-hover);
}

.filter-input-radio:checked:focus + label::after {
    background-color: var(--filter-buttons-hover);
}

.filter-input-radio:disabled + label::before {
    border: 4px solid var(--filter-check-opacity);
}

.filter-input-radio:checked:disabled + label::after {
    background-color: var(--filter-check-opacity);
}

.range-filter {
    width: 220px;
}

.range-controls {
    position: relative;
    height: 41px;
    background-color: var(--filter-background);
    border-radius: 5px;
    margin-bottom: 9px;
    padding-top: 39px;
    padding-right: 20px;
    padding-left: 20px;  
}

.range-controls .scale {
    height: 2px;
    background: #d7dcde;
}
  
.range-controls .bar {
    width: 80%;
    height: 2px;
    background: var(--filter-scale-full);
}

.range-controls .toggle {
    position: absolute;
    top: 31px;
    left: 0;
    width: 4px;
    height: 4px;
    border-radius: 50%;
    padding: 0;
    border: 8px solid var(--basic-white);
    background-color: var(--toggle);
    box-shadow: 0 2px 1px 0 var(--toggle-shadow);
    cursor: pointer;
}

.range-controls .toggle-min {
    left: 18px;
}
  
.range-controls .toggle-max {
    left: 160px;
}

.price-controls {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.price-controls::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 1px;
    background: var(--basic-black);
    top: 20px;
    left: 105px;
}

.price-controls input {
    font-size: 17px;
    line-height: 18px;
    width: 95px;
    box-sizing: border-box;
    padding: 10px 5px;
    text-align: center;
    border: none;
    border-radius: 5px;
    background-color: var(--filter-background);
}

input[type=number] {
    -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.sorting-title {
    width: 220px;
    background-color: var(--filter-background); 
    margin: 0;
}

.sorting-section {
    background-color: var(--filter-background);
    grid-column: 2/2;
    margin: 0 0 16px 0;
    padding: 10px 0 19px 20px;
    display: flex;
    align-items: start;
}

.sorting-section-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-grow: 1;
    margin: 0;
    padding: 0;
}

.sorting-button {
    display: flex;
}

.sorting-button:last-child {
    padding-right: 48px;
}

.filters-button {
    width: 220px;
    box-sizing: border-box;
    padding: 10px 5px;
    background-color: var(--basic-white);
    border: solid 1px var(--gray-border);
    
}

.filters-button:hover {
    border: solid 1px var(--basic-red);
}

.filters-button:focus {
    border: solid 1px var(--basic-red);
}

.filters-button:active {
    border: solid 1px var(--gray-border);
}

.sorting-button {
    height: 100%;
    color: var(--black-opacity-catalog);
    border: none;
    background-color: var(--filter-background);
    padding: 0;
    margin: 0;
    cursor: pointer;
}

.sorting-button-text {
    border-bottom: dotted 1px var(--basic-red);
}

.arrow-sorting-icons {
    min-width: 43px;
    display: flex;
    padding-right: 14px;
}

.arrow-sorting-up {
    width: 0;
    height: 0;
    outline: 0;
    background: 0;
    border-bottom: 11px solid var(--gray-filter-buttons);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-top: 0;
    padding: 0;
    margin-right: 21px;
    cursor: pointer;
}

.arrow-sorting-down {
    width: 0;
    height: 0;
    outline: 0;
    background: 0;
    border-top: 11px solid var(--gray-filter-buttons);
    border-left: 7px solid transparent;
    border-right: 7px solid transparent;
    border-bottom: 0;
    padding: 0;
    cursor: pointer;
}

.arrow-sorting-up:hover {
    border-bottom: 11px solid var(--basic-black);
}

.arrow-sorting-up:focus {
    border-bottom: 11px solid var(--basic-black);
}

.arrow-sorting-up:active {
    border-bottom: 11px solid var(--basic-red);
}

.arrow-sorting-down:hover {
    border-top: 11px solid var(--basic-black);
}

.arrow-sorting-down:focus {
    border-top: 11px solid var(--basic-black);
}

.arrow-sorting-down:active {
    border-top: 11px solid var(--basic-red);
}

.sorting-button:hover .sorting-button-text {
    color: var(--basic-black);
    border: none;
    border-bottom: solid 1px var(--basic-red);
}

.sorting-button:focus .sorting-button-text {
    color: var(--basic-black);
    border: none;
    border-bottom: solid 1px var(--basic-red);
}

.sorting-button:active .sorting-button-text {
    color: var(--basic-red);
    border: none;
}


.catalog-section {
    grid-column: 2/2;
    height: 100%;
    padding: 0;
    margin: 0;
}

.all-items {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    grid-column: 1/3;
    margin: 0;
    padding: 0;
}

.popular-item-button {
    min-width: 135px;
    box-sizing: border-box;
    padding: 10px 5px;
    text-align: center;
    border-radius: 2px;
    font-size: 14px;
    line-height: 18px;
    text-transform: uppercase;
}

.selected-card {
    display: flex;
    flex-direction: column;
}

.buy-button {
    color: var(--basic-white);
    background-color: var(--basic-green);
    margin-bottom: 10px;
}

.buy-button:hover {
    background-color: var(--green-hover);
}

.buy-button:focus {
    background-color: var(--green-hover);
}

.buy-button:active {
    background-color: var(--green-active);
}

.send-bookmark-button {
    color: var(--blue-light);
    background-color: var(--basic-white);
    border: solid 3px var(--basic-green);
}

.send-bookmark-button:hover {
    border: solid 3px var(--blue-light);
}

.send-bookmark-button:focus {
    border: solid 3px var(--blue-light);
}

.send-bookmark-button:active {
    opacity: 50%;
}

.pagination {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    margin: 45px 0 59px 0;
}

.pages-button {
    min-width: 38px;
    border: solid 1px var(--gray-border);
    text-align: center;
    border-radius: 2px;
    box-sizing: border-box;
    margin-right: 10px;
    padding: 5px 10px;
}

.next-page-button {
    min-width: 130px;
    height: 100%;
    border: solid 1px var(--gray-border);
    text-align: center;
    border-radius: 2px;
    box-sizing: border-box;
    background-color: var(--basic-white);
    padding: 0;
}

.current-page {
    background-color: var(--basic-red);
}

.current-page a {
    color: var(--basic-white);
}

.pages-button:hover {
    border: solid 1px var(--gray-filter-buttons);
}

.pages-button:focus {
    border: solid 1px var(--gray-filter-buttons);
}

.pages-button:active {
    border: solid 1px var(--basic-red);
}

.info-section-wrapper {
    width: 100%;
    min-width: 940px;
    background-color: var(--gray-service-and-footer);
    padding: 68px 0 68px 0;
}

.info-section {
    width: 940px;
    margin: 0 auto;
}

.info-title {
    color: var(--basic-black);
    padding-bottom: 25px;
}

/* Footer */

.main-footer {
    color: var(--basic-white);
    background-color: var(--blue-light);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer-container {
    min-width: 940px;
    display: grid;
    grid-template-columns: 393px 547px;
}

.footer-nav-container {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

.footer-navigation-top {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 37px 0 0 0;
}

.footer-navigation-bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 0 0 0 22px;
}

.footer-adress {
    margin: 17px 0 53px 2px;
}

.main-footer ul {
    list-style: none;
    padding: 0;
}

.footer-phone {
    color: var(--basic-white);
}

.footer-navigation-link-top {
    color: var(--basic-white);
}

.footer-navigation-link-top:hover {
    text-decoration: underline;
}

.footer-navigation-link-top:focus {
    text-decoration: underline;
}

.footer-navigation-link-top:active {
    text-decoration: none;
    color: var(--gray-service-and-footer);
}

.footer-navigation-link-bottom {
    color: var(--contacts-yellow);
}

.footer-navigation-link-bottom:hover {
    text-decoration: underline;
}

.footer-navigation-link-bottom:focus {
    text-decoration: underline;
}

.footer-navigation-link-bottom:active {
    text-decoration: none;
    color: var(--yellow-active);
}

.footer-bottom-wrapper {
    width: 100%;
    min-width: 940px;
    background-color: var(--basic-blue);
    padding: 36px 0 40px 0;
}

.footer-bottom-bar {
    width: 940px;
    font-size: 16px;
    line-height: 18px;
    display: grid;
    grid-template-columns: 2fr 2fr 1fr 1fr;
}

.footer-copyright {
    grid-column: 1/1;
}

.footer-socials {
    margin: 0;
    margin-left: -24px;
    grid-column: 2/2;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.social-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    background-color: var(--blue-dark);
    color: var(--basic-white);
    border-radius: 50%;
    margin-right: 1px;
    text-align: center;
}

.social-button:hover {
    background-color: var(--basic-red);
}

.social-button:focus {
    background-color: var(--basic-red);
}

.social-button:active {
    background-color: var(--basic-red);
}

.footer-copyright-email {
    grid-column: 3/3;
}

.footer-copyright-email {
    padding-left: 15px;
}

.footer-copyright-developer {
    grid-column: 4/4;
    padding-left: 46px;
}

.footer-bottom-bar p {
    margin: 0;
}

.copyright-link {
    color: var(--contacts-yellow);
}

.copyright-link:hover {
    text-decoration: underline;
}

.copyright-link:focus {
    text-decoration: underline;
}

.copyright-link:active {
    text-decoration: none;
    color: var(--basic-red);
}